#
# This HAS to become a JSON file, to support changing the current working directory. Which Node doesn't do well dynamically.
#
MongoDB : sudo mongod
DataService : node ~/Zngine/zngine-ds/app.js
Redis : redis-server
Admin Templates : rex-template -i "~/Zngine/zngine-admin/public/js/templates/" -o "~/Zngine/zngine-admin/public/js/templates.js" -w 
