coffee_client: coffee -o web/assets -cw coffee/rex-foreman.client.coffee
coffee_server: coffee -o ./lib -cw coffee/rex-foreman.coffee
# rex-foreman: nodemon rex-foreman.server.js
# brew: brew server
# templates: rex-template -w
# redis: redis-server
