/*******************************
            Global
*******************************/

html,
body {
  font-size: 12px;
  height: 100%;
  overflow-x: hidden;
}

body {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  background: #222;
  margin: 0px;
  padding: 0px;
  color: #eee;
  text-rendering: optimizeLegibility;
  min-width: 320px;
}

.ui.header {
  font-family: 'Source Sans Pro', "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.container {
  width: 98%;
  margin: auto;
}

pre, code, h4.header code {
  font-family: 'Droid Sans Mono';
  font-size: 0.8em;
}

div[data-rex-column] {
  max-height: 400px;
  margin-bottom: 20px;
}

div[data-rex-output] {
  font-size: 0.6em;
  font-family: 'Droid Sans Mono', "Anonymous Pro", serif;
}

p.output {
  margin: 0;
  padding: 0px auto 3px auto;
  /*font-size: 0.6em;*/
  color: #eee;
}

.ui.modal>.header, .ui.modal>.content {
  color: #222;
}